/* Variables */
:root {
  --primary-bg-color: #000000;
  --button-bg-color: white;
  --button-hover-bg-color: black;
  --button-border-color: white;
  --text-color: #ffffff;
  --button-size: 400px;
}

#txt1,#txt2,#txt3, #title1, #title2, #title3 {
  cursor: default;
  
}
h2{
  font-size: x-large;
}
p{
  font-size: large;
}
.character {
  transition: color 0.2s;
  opacity: 0.7;  /* Default opacity */
}

.character:hover {
opacity: 1;
}
.character.nearby {
opacity: 1;
}


/* Base Styles */
body, html {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1, h2, p {
  color: var(--text-color);

}
@font-face {
  font-family: VarelaRound;
  src: url(./src/font/VarelaRound-Regular.ttf);
}
h1, h2, p:hover {
text-decoration: wavy white;
font-family: VarelaRound;
}

html {
  display: flex;
  overflow: hidden;
  align-items: center;
  font-family: VarelaRound;
}

/* Scrolling Wrapper */
.scrolling-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
  position: relative;
  z-index: 0;
  gap: 0;
}

/* Toggle Button */
.toggle-button, .toggle-button:hover, .toggle-button.clicked {
  font-size: 50px;
  margin: 0 20px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  background-color: var(--button-bg-color);
  flex-shrink: 0;
  position: relative;
}

.toggle-button:hover, .toggle-button.clicked {
  border: 4px dashed var(--button-border-color);
  background-color: var(--button-hover-bg-color);
}

/* Animations */
@keyframes buttonmove {
  from {
      transform: rotate(0) scale(1);
      background-color: var(--button-hover-bg-color);
      border-width: 4px;
  }
  to {
      transform: rotate(180deg) scale(1.5);
     
      border-width: 10px;
  }
}
/* Fill */
.fill {
  white-space: nowrap;
  font-size: 30px;
}

/* Card */
.card {
  color: black;
  display: none;
  background-color: #3535357b;
  padding: 10px;
  gap: 0px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.card img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

/* Shapes */
#shapesContainer {
  z-index: -1;
  width: 100%;
}

.random-shape {
  position: absolute;
  border-style: solid;
  border-width: 0;
  z-index: -1;
  transition: left 0.3s ease-out;
  border-color: white !important;
  opacity: 0.6;
}

.square {
  width: 30px;
  height: 30px;
  border-width: 5px;
  --initial-rotation: 0deg;
  background-color: transparent;
  transform: rotate(var(--initial-rotation));
}

.circle {
  border-radius: 50%;
  border: 5px solid;
  width: 50px;
  height: 50px;
  border-color: transparent;
}

/* Button */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

button:hover {
  color: white;
}

/* Miscellaneous */
.turn-black {

  background-color:black !important;
  color: black !important;
  border: 0;
}

img .turn-black {
  width: 0px;
  height: 0px;
}

#head {
  position: absolute;
  border: 0;
  left: 30px;
  top: -205px;
  transform: scale(1.2);
  z-index: 11;
}

#old {
  z-index: 10;
}

#brain {
  position: absolute;
  left: 0px;
  top: -100px;
  transform: scale(0.7);
  width: 100%;
  border: 0;
  z-index: 0;
}
#palsy{
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 50px;
  transform: scale(0.4) rotate(10deg);
  width: 100%;
  height: 100%;
  z-index: 10;
  border: 0;
  object-fit:contain;
}
/* Animations */
@keyframes pals {
  100% {
      opacity: 1;
      left: 200px;
      top: 50px;
      transform: scale(0.4) }}
    @keyframes fall {
        0% {
            transform: rotate(0) scale(1.2);
        }
        100% {
            transform: rotate(90deg) scale(0.8);
            top: 1000px;
            opacity: 0;
        }
      }